@font-face {
    font-family: 'Inter' ;
    src: url('./Inter/Inter-Regular.ttf') format ('tff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Medium' ;
    src: url('./Inter/Inter-Medium.ttf') format ('tff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter Medium' ;
    src: url('./Inter/Inter-ExtraBold.ttf') format ('tff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserat Regular';
    src: url('./Monsterat/Montserrat-Regular.ttf') format ('tff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserat-Light';
    src: url('./Monsterat/Montserrat-Light.ttf') format ('tff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserat-ExtraLight';
    src: url('./Monsterat/Montserrat-ExtraLight.ttf') format ('tff');
    font-weight: 200;
    font-style: normal;
}