@import "../../assets/fonts/_fonts.scss";
.header {
  .app-wrapper {
        padding: 45px 147px 0 148px;
    display: flex;
    height: 73px;
    padding-top: 58px;

    @media (max-width: 360px) {
      padding: 0 14px;
      height: auto;
    }
  }

  &__logo {
    width: 165px;

    &-text {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 10px;
      line-height: normal;
      margin-top: 3px;
    }
  }

  &__navbar-list {
    margin-left: 27px;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: 30px;
        font-family: "Inter" sans-serif;
        font-weight: 500;

        a {
          text-decoration: none;
          color: #e4e5ea;
        }

        @media (max-width: 360px) {
          margin-right: 16px;
          font-size: 12px;
        }
      }
    }

    @media (max-width: 360px) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      margin: 15px 0px;
      gap: 15px;
    }
  }

  &__contact-us {
    margin-left: 112px;
    display: flex;

    &-socials {
      display: flex;
      gap: 30px;
      margin-left: 44px;
      padding-top: 2px;
      cursor: pointer;
    }
  }

  @media (max-width: 360px) {
    height: 55px;
  }
}
