@import '../src/assets/fonts/_fonts.scss';

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #E4E5EA;
  background: #0E1014;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
